<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="grid grid-cols-4 gap-4">
                            <div class="bg-gradient-to-r from-indigo-500 to-indigo-700 rounded p-5 text-white">
                                <span class="text-xl font-bold block">Total Users</span>
                                <span class="text-4xl font-bold mt-2 block">
                                    {{total_users}}
                                    <i class="fa fa-users float-right"></i>
                                </span>
                            </div>

                            <div class="bg-gradient-to-r from-indigo-500 to-indigo-700 rounded p-5 text-white">
                                <span class="text-xl font-bold block">Total Reservations</span>
                                <span class="text-4xl font-bold mt-2 block">
                                    {{total_reservations}}
                                    <i class="fa fa-bookmark float-right"></i>
                                </span>
                            </div>

                            <div class="bg-gradient-to-r from-indigo-500 to-indigo-700 rounded p-5 text-white">
                                <span class="text-xl font-bold block">Reservations Today</span>
                                <span class="text-4xl font-bold mt-2 block">
                                    {{reservations_today}}
                                    <i class="fa fa-clock float-right"></i>
                                </span>
                            </div>

                            <div class="bg-gradient-to-r from-indigo-500 to-indigo-700 rounded p-5 text-white">
                                <span class="text-xl font-bold block">Total Settings Created</span>
                                <span class="text-4xl font-bold mt-2 block">
                                    {{total_settings}}
                                    <i class="fa fa-cog float-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-5 py-5">
                            <span class="block text-xl">
                                Latest Reservations (10 entries)
                            </span>

                            <table class="table-fixed mt-5 w-full">
                                <thead>
                                    <tr class="bg-gray-100">
                                        <th class="w-1/3 px-4 py-2">User</th>
                                        <th class="w-1/3 px-4 py-2">Email</th>
                                        <th class="w-1/3 px-4 py-2">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-gray-100" v-for="(reservation,index) in latest_reservations" :key="index">
                                        <td class="border px-4 py-2">{{reservation.user.name}}</td>
                                        <td class="border px-4 py-2">{{reservation.user.email}}</td>
                                        <td class="border px-4 py-2">{{reservation.reservation_datetime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import { Head } from '@inertiajs/inertia-vue3';

export default {
    props: [
        'total_users', 'total_reservations', 'reservations_today', 'total_settings', 'latest_reservations'
    ],

    components: {
        BreezeAuthenticatedLayout,
        Head,
    },
}
</script>
