<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Reservation Settings
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <h1 class="w-full max-w-xl mx-auto my-5 font-bold uppercase text-xl">Reservation Settings</h1>

                        <h5 class="w-full max-w-xl mx-auto bg-indigo-700 rounded p-3 text-white" v-if="reservationSettings">
                            <b class="capitalize">{{reservationSettings.reservation_count}}</b> reservations per <b class="capitalize">{{reservationSettings.duration}}</b> for {{typePrefix}} <b class="capitalize">{{reservationSettings.type}}</b> in <b class="capitalize">{{reservationSettings.timezone}}</b> timezone.
                        </h5>

                        <form class="w-full max-w-xl mx-auto mt-5" v-on:submit.prevent="saveSettings">
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reservation-count">
                                        Reservation Count
                                    </label>
                                    <input v-model="reservation_count" class="appearance-none block w-full bg-indigo-50 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="reservation-count" type="number" min="0" placeholder="0" required>
                                    <p class="text-red-500 text-sm" v-if="errors.reservation_count && errors.reservation_count.length > 0">
                                        <span v-for="(error, index) in errors.reservation_count" :key="index">
                                            {{error}}
                                        </span>
                                    </p>
                                </div>

                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="duration">
                                        Duration
                                    </label>
                                    <div class="relative">
                                        <select v-model="duration" class="block appearance-none w-full bg-indigo-50 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="duration" required>
                                            <option value="">Select duration</option>
                                            <option value="day">Day</option>
                                            <option value="week">Week</option>
                                            <option value="month">Month</option>
                                        </select>
                                    </div>
                                    <p class="text-red-500 text-sm" v-if="errors.duration && errors.duration.length > 0">
                                        <span v-for="(error, index) in errors.duration" :key="index">
                                            {{error}}
                                        </span>
                                    </p>
                                </div>

                                <div class="w-full px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reservation-type">
                                        Reservation Type
                                    </label>
                                    <div class="relative">
                                        <select v-model="type" class="block appearance-none w-full bg-indigo-50 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="reservation-type" required>
                                            <option value="">Select type</option>
                                            <option value="individual">Individual</option>
                                            <option value="group">Group</option>
                                        </select>
                                    </div>
                                    <p class="text-red-500 text-sm" v-if="errors.type && errors.type.length > 0">
                                        <span v-for="(error, index) in errors.type" :key="index">
                                            {{error}}
                                        </span>
                                    </p>
                                </div>

                                <div class="w-full px-3 mb-6 md:mb-0 mt-3">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="timezone">
                                        Time Zone
                                    </label>
                                    <input v-model="timezone" class="appearance-none block w-full bg-indigo-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="timezone" type="text" placeholder="e.g. UTC, Asia/Kolkata, America/NewYork" required>
                                    <p class="text-red-500 text-sm" v-if="errors.timezone && errors.timezone.length > 0">
                                        <span class="block" v-for="(error, index) in errors.timezone" :key="index">
                                            {{error}}
                                        </span>
                                    </p>
                                </div>

                                <div class="w-full px-3 mb-6 md:mb-0 mt-3">
                                    <button class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded float-right">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                      
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import { Head } from '@inertiajs/inertia-vue3';

export default {
    components: {
        BreezeAuthenticatedLayout,
        Head,
    },

    data: function() {
        return {
            reservationSettings: [],
            typePrefix: '',
            reservation_count: '',
            duration: '',
            type: '',
            timezone: '',
            errors: []
            // timezone: []
        }
    },

    mounted: function() {
        this.getReservationSettings();
        // this.getTimezone();
    },

    methods: {
        'getReservationSettings': function () {
            axios.post(this.route('settings.fetch'), {
                _token: this.$page.props.csrf_token,
            })
            .then(response => {
                this.reservationSettings = response.data.settings;
                if(this.reservationSettings.type == 'individual') {
                    this.typePrefix = 'an';
                } else {
                    this.typePrefix = 'a';
                }
            }).catch(error => {});

        },

        'saveSettings': function() {
            axios.post(this.route('settings.store'), {
                reservation_count: this.reservation_count,
                duration: this.duration,
                type: this.type,
                timezone: this.timezone,
                _token: this.$page.props.csrf_token,
            })
            .then(response => {
                let message = 'Something went wrong.';
                if(response.data.status == 'success') {
                    this.reservation_count = this.duration = this.type = this.timezone = '';
                    this.getReservationSettings();
                    message = 'Settings updated successfully.';
                }

                Toast.fire({
                    icon: response.data.status,
                    title: message
                });
            }).catch(error => {
                this.errors = error.response.data.errors;
            });
        }

        // 'getTimezone': function () {
        //     axios.get('http://worldtimeapi.org/api/timezone')
        //     .then(response => {
        //         this.timezone = response.data;
        //         console.log(response)
        //     }).catch(error => {});

        // },
    }
}
</script>
