<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Pre Reservation Validator
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <h1 class="w-full max-w-xl mx-auto my-5 font-bold uppercase text-xl">Pre Reservation Validator</h1>

                        <form class="w-full max-w-xl mx-auto mt-5" v-on:submit.prevent="validateReservation">
                            <div class="flex flex-wrap -mx-3 mb-6">

                                <div class="w-full px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reservation-count">
                                        Reservation Date
                                    </label>
                                    <input v-model="reservation_datetime" class="appearance-none block w-full bg-indigo-50 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="reservation-count" type="datetime-local" placeholder="0" required>
                                    <p class="text-red-500 text-sm" v-if="validation_errors.reservation_datetime && validation_errors.reservation_datetime.length > 0">
                                        <span v-for="(error, index) in validation_errors.reservation_datetime" :key="index">
                                            {{error}}
                                        </span>
                                    </p>
                                </div>

                                <div class="w-full px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="user">
                                        Select Users
                                    </label>
                                    <div class="relative">
                                        <multiselect @search-change="onSearchUsersChange" @input="onSelectUser" id="user_id" v-model="users" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Select users" label="name" track-by="name" :preselect-first="false">
                                            <template slot="selection" slot-scope="{ values, search, isOpen }"></template>
                                        </multiselect>
                                    </div>
                                    <p class="text-red-500 text-sm" v-if="validation_errors.users && validation_errors.users.length > 0">
                                        <span v-for="(error, index) in validation_errors.users" :key="index">
                                            {{error}}
                                        </span>
                                    </p>
                                </div>

                                <div class="w-full px-3 mb-6 md:mb-0 mt-3">
                                    <button class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded float-right">
                                        Reserve
                                    </button>
                                </div>

                                <div class="w-full px-3 mb-6 md:mb-0 mt-3">
                                    <span v-for="(message, index) in messages" :key="index" class="text-green-700 block">{{message}}</span>
                                    <span v-for="(error, index) in errors" :key="index" class="text-red-700 block">{{error}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import { Head } from '@inertiajs/inertia-vue3';
import multiselect from '@suadelabs/vue3-multiselect';
import {throttle} from 'lodash';

export default {
    props: {
        options: {
            type: Array,
            default: () => []
        }
    },

    components: {
        BreezeAuthenticatedLayout,
        Head,
        multiselect
    },

    data () {
        return {
            users: [],
            user_id: '',
            users_id: [],
            reservation_datetime: '',
            validation_errors: [],
            errors: [],
            messages: [],
        }
    },

    methods: {
        validateReservation: function() {
            this.users.forEach((user) => {
                this.users_id.push(user.id);
            });

            axios.post(this.route('validator.store'), {
                users_id: this.users_id,
                reservation_datetime: this.reservation_datetime,
                _token: this.$page.props.csrf_token,
            })
            .then(response => {
                this.messages = response.data.messages;
                this.errors = response.data.errors;
                this.users_id = [];
                this.reservation_datetime = '';
            }).catch(error => {
                this.validation_errors = error.response.data.errors;
                console.log(error)
            });
        },

        onSearchUsersChange: throttle(function(term) {
            this.$inertia.get(route('validator.index'), {term}, {
                preserveState: true,
                preserveScroll: true,
                replace: true
            })
        }, 300),

        onSearchUser(user) {
            this.form.user_id = user.id;
        }
    }
}
</script>
